<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Biografie</h2>
        <div class="col-lg-12 text-left">
        <p class="lead">
<bR><br>
          Felix Komoll wurde in Westberlin als Sohn einer Ärztin und eines erfolgreichen Musikers
          und Journalisten geboren. Die Kindheit war geprägt vom musikalischen Leben und den
          vielfältigen Interessen des Vaters, früh saß Felix am Klavier, bekam Unterricht,
          später auch auf der Querflöte. Er erarbeitete sich die ersten Griffe auf der Gitarre selbst.
</p><p class="lead">
          In der Folge des Todes seines Vaters wagte er als  junger Jugendlicher den Ausbruch, verließ Schule und Westberlin, trampte mit 16 durch Italien und Spanien und lebte von Strassenmusik.
          Die Entdeckung durch Siegfried Behrend und die Einladung zu dessen Gitarren-Meisterkursen formten aus dem Ausbruch einen Aufbruch und die Gitarre wurde für Felix Komoll das ernsthaft Wichtigste.
</p><p class="lead">
          Die Ernsthaftigkeit, sich einem Instrument zu widmen, die Techniken zu erlernen, um wirklich spielfertig zu werden; eine Wertschätzung des eigenen Ansatzes und die Bereitschaft für die eigene Weiterentwicklung konsequent Verantwortung zu übernehmen lernte er zunächst bei Siegfried Behrend, später bei Carlo Domenico und Ference Snetberger. Die Lehrjahre führten ihn nach Jerusalem, ein Stipendium an der Rubin Academy for Music and Dance, und nach New York ans Guitar Players Institute.
</p><p class="lead">
          Als Begleit- und Sessionmusiker unterstützte er Künstler wie Sebastiao Tapajos, Abdouramahne Diop, Günther Baby Sommer, Akira Ando, Zam Jonson,
          Stanislaw Michalak und andere bei Konzerten, Radio und TV-Auftritten und natürlich auch Aufnahmen für CDs.
</p>
        </div>


        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
