<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

<iframe width="720" height="405" src="https://www.youtube.com/embed/4s_7bNNEYcA" frameborder="0" allowfullscreen></iframe>
<p class="lead">
  Bela Bartok - Bulgarian Rhythm (I), Mikrokosmos, No: 113 - performed by Felix Komoll
</p>
<br>
<br>
<iframe width="720" height="405" src="https://www.youtube.com/embed/wOZ1paQjaKQ" frameborder="0" allowfullscreen></iframe>
<p class="lead">
  Sergei Prokofiev - Sonata for Solo Violin, op. 115 - performed by Felix Komoll
</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
