<section id="repertoire" class="about">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-left">
        <p class="lead">
<div class="col-lg-12 text-center">
  <h2>Transkriptionen von Felix Komoll</h2>
</div>
  <h3>Bela Bartok</h3>

  <li>Fuge (Sonate für Violine 1944)</li>
  <li>Bulgarien Rhythm 1 und 2, Mikrokosmos Band 4</lI>
  <li>Dance in 3/4, Mikrokosmos Band 4</lI>
  <li>Bulgarien Rhythm 3, Nr. 150 Mikrokosmos Band 6</li>

  <h3>Sergei Prokofjew</h3>

  <li>Sonata for Violin solo, opus 115</li>
  <li>Thema und Variation</li>

  <h3>George Bizet</h3>
  <li>Habanera aus Carmen</li>
<div class="col-lg-12 text-center">
  <h2>Repertoire klassischer Gitarrenliteratur</h2>
</div>


    <h3>Johann Sebastian Bach</h3>
    <li>Fuge d-moll</li>
    <li>Gavotte 1 und 2 (5 cello suite + Lautensuite ) Menuett (cello suite ) Bouree</li>

  <h3>Astor Piazolla</h3>
  <li>Verano Porteno</li>
  <li>Suite de Tango</li>
  <li>Libertango</li>
  <li>Zita, etc.</li>

  <h3>H. Villa Lobos</h3>
  <li>5 Preludien</li>
  <li>12 Etuden</li>
  <li>Bacharianas</li>

  <h3>Antonio Lauro</h3>
  <li>Valse venezuelano</li>

  <h3>Francisco Tarrega</h3>
  <li>Adelita</li>
  <li>Lagrima</li>
  <li>Capriccio Arabe</li>

  <h3>Isaac Albeniz</h3>
  <li>Asturias</li>
  <li>Tango</li>
  <li>Cadiz</li>

  <h3>Rodrigo</h3>
  <li>Concierto de Aranjuez</lI>
  <li>Fandango</lI>

<h3>Andere Autoren</h3>
<li>Vivaldi: Preludium c-dur d-moll Kammermusik mit unterschiedlicher Besetzung</li>
<li>Mauro Guiliani</li>
<li>Carcassi</li>
<li>Legnani</li>
<li>Napoleon Coste</li>
<li>Fernando sor</li>
<li>Johan Caspar Mertz</li>
<li>Teleman</li>
<li>H&auml;ndel</li>
<li>Manuel de Falla</li>
          </p>
        </div>


        </p>
      </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
